body {
  background-color: #028090;
  height: 100vh;
  box-sizing: border-box;
  color: white;
}
.hidden {
  visibility: hidden;
}
img {
  width: 5rem;
}
.player {
  background-color: #00a896;
}
.current-score-box {
  background-color: white;
  color: #00a896;
  width: 50%;
  border-radius: 5px;
  margin: 48px auto;
}
.current-score-box span {
  font-size: 30px;
  font-weight: bold;
}
.player--active {
  background-color: white;
  color: #00a896;
}
.box--active {
  background-color: #00a896;
  color: white;
}
.my-btn {
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #00a896;
  color: white;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.my-btn::first-letter {
  font-size: 1.4rem;
  margin-right: 0.3rem;
}
.my-btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.player-score {
  font-size: 50px;
  font-weight: bold;
}

#winner {
  background-color: #264653;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 22px;
}
.player-winner {
  background-color: #264653;
}
.player h2 {
  font-size: 33px;
}
@media only screen and (max-width: 600px) {
  .current-score-box {
    width: 50%;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .current-score-box {
    width: 50%;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .current-score-box {
    width: 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .current-score-box {
    width: 50%;
    width: 50%;
  }
}
